<header id="coverpage">
  <section class="name">
    <div class="name-title">
      Edis MR
    </div>
    <div class="name-frontend">Frontend Angular Web Developer</div>
  </section>

  <section class="image-container">
  </section>
</header>


<!-- <section id="whyme">

  <article class="whyme-title">
    ¿Why Me?
  </article>

  <article class="whyme-items">

    <ng-container *ngFor="let item of itemcards">

      <div class="item-card">
        <article class="card-header">
          <img [src]="item.imageurl" alt="psico image">
        </article>
        <article class="card-body">
          <span class="card-body-text">
            {{item.title}}
          </span>
        </article>
      </div>

    </ng-container>
  </article>

</section> -->
