#contacts{
  /* background-color: var(--aboutmeBG); */
  color: var(--aboutmeColor);
  padding: 40px;
  margin-top: 50px;
}

.contacts-parent{
  padding: 20px;
  border-radius: 25px;
  background-color: var(--transparencyBG);
}

h3{
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: var(--fontTitle4);
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
  grid-auto-rows: 130px;
  gap: 20px 20px;
}

.contacts-item{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 146, 179);
  border-radius: 25px;
  font-size: var(--fontTitle4);
  text-decoration: none;
  color: #eee !important;

  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20210130/pngtree-wavy-irregular-gradient-abstract-background-image_549218.jpg");
  background-size: cover;

  transform: scale(1);
  transition-duration: var(--globalTransitionDuration);

  &:hover{
    transform: scale(1.05);
  }
  &:active{
    transform: scale(0.99);
  }
}

.contacts-title{
  font-size: var(--fontTitle4);
}
@media (max-width:700px){
  #contacts{
    padding: 8px;
  }

  .grid-container{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr) );
  }
}
