#lightgallery{
  width: 60vw;
  margin: auto auto;
}

video{
  display: inline-block;
  height: 500px;
  max-width: 100%;
}

@media (max-width:700px){
  #lightgallery{
    width: 90vw;
    margin: auto auto;
  }
}
