<div id="lightgallery" loading="lazy">
  <lightgallery [settings]="settings">

    <img (click)="img2.click()" src="assets/img/img (0).webp" alt="Image Gallery" loading="lazy">
    <img #img2 src="assets/img/img (1).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (2).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (3).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (4).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (5).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (6).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (7).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (8).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (9).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (10).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (11).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (12).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (13).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (14).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (15).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (16).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (17).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (18).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (19).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (20).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (21).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (22).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (23).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (24).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (25).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (26).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (27).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (28).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (29).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (30).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (31).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (32).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (33).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (34).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (35).webp" alt="Image Gallery" loading="lazy">
    <img src="assets/img/img (36).webp" alt="Image Gallery" loading="lazy">

    </lightgallery>
</div>
