#gallery-container{
  width: 60vw;
  margin: auto auto;
  position: relative;
}

.gallery{
  display: flex;
  justify-content: flex-start;
  scroll-snap-type: x mandatory;
  overflow: auto;
  border: 2px solid #4663d93d;
  border-radius: 10px;

  /* scrollbar */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* scrollbar Track */
  &::-webkit-scrollbar-track {
    background: #c0d4ffc5;
    border-radius: 10px;
  }

  /* Handle scrollbar */
  &::-webkit-scrollbar-thumb {
    background: #0993e1;
    border-radius: 10px;
  }

  /* Handle scrollbar on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #00a2ff;
  }
}

.gallery-item{
  flex: none;
  display: inline-block;
  height: 500px;
  width: 70%;
  max-width: 90%;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

video{
  width: auto;
  height: 100%;
  max-width: 100%;
}

.gallery-control{
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.479);
  color: rgb(255, 255, 255);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: var(--globalTransitionDuration);
  &:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(39, 39, 39);
  }
}

.gallery-control-left{
  left: 0px;
}

.gallery-control-right{
  right: 0px;
}

@media (max-width:700px){
  #gallery-container{
    width: 95vw;
    margin: auto auto;
  }

  .gallery-item{
    width: 90%;
  }
}
