<div id="gallery-container">

  <section class="gallery" #videoPlayer>

    <ng-container *ngFor="let item of videosNames">
      <div class="gallery-item">
        <video [src]="item" type="video/webm" muted controls></video>
      </div>
    </ng-container>

  </section>
  <div class="gallery-control gallery-control-left" (click)="scrollPrev()">
    <span>
      <!-- ⏴︎ -->
      &#x25C0;
    </span>
  </div>
  <div class="gallery-control gallery-control-right" (click)="scrollNext()">
    <span>
      <!-- ⏵︎ -->
      &#x25B6;
    </span>
  </div>
</div>