<section id="aboutme" class="block">

  <div class="content-size-correction">

    <article class="aboutmedescription">
      <div class="aboutimage" [ngClass]="{'christmas-related-content':activateChristmasContent}">
        <img src="assets/eamr.webp" alt="Edis Mercado Ruiz">
      </div>

      <section class="aboutContainer">
        <div class="abouttitle">
          <h3><span class="ms-Icon ms-Icon--Contact"></span>About me</h3>
        </div>
        <div class="abouttext">
          I'm Edis Mercado Ruiz from San José, Costa Rica. I am a musicial and web developer; I'm' focused on the interfaces development
          for the end customer.<br>
          I started programming at Universidad Nacional de Costa Rica (UNA), where I acquired experience using
          mathematics for programming, programming logic and the development strategies to solve a programming situation.<br>
          I entered to Instituto Nacional de Aprendizaje (INA), where I studied Adobe Photoshop, Microsoft Office,
          Access, and my passion for web development began since I entered to the Web Development program in this
          institution.<br>
          After studying fundamentals of web development, I continued training and learning specifically for
          front-end web development through digital platforms, blogs, and learning to use tools and programming languages such as SASS,
          GIT, AJAX, Angular among others.<br>
          The majority of the knowledge I have gained is reflected in the list you see below.<br>
          You can contact me by the attached form at the bottom of the page.
        </div>
      </section>

    </article>
  </div>

  <article class="content-size-correction">

    <article class="tecnologias-antecedentes">

      <div class="tecnologias">

        <div class="tecnotitle">
          <h3><span class="ms-Icon ms-Icon--DeveloperTools"></span>Tools and Technologies</h3>
        </div>

        <section class="tecno-items">
          <ng-container *ngFor="let item of items">
            <span [class]="item.type" class="tecno-item">{{item.name}}</span>
          </ng-container>
        </section>
        <section class="tecno-description">
          <div class="red-explanation"></div>
          <div class="yellow-explanation"></div>
          <div class="green-explanation"></div>
        </section>
      </div>

      <article class="antecedentes">
        <div class="tecnotitle">
          <h3><span class="ms-Icon ms-Icon--ViewInAR"></span>Experience List</h3>
        </div>
        <div class="antecedentes-list-container">
          <ul>
            <li *ngFor="let item of antecedentes">
              <span *ngIf="item.url!='';else nourl">
                <a [href]="item.url" target="_blank" rel="noopener noreferrer">{{item.description}}</a>
              </span>
              <ng-template #nourl>
                {{item.description}}
              </ng-template>
            </li>
          </ul>
        </div>
      </article>

    </article>
  </article>



</section>