/* You can add global styles to this file, and also import other style files */
/*
  Your use of the content in the files referenced here is subject to the terms of the license at https://aka.ms/fabric-assets-license
*/
@font-face {
  font-family: 'FabricMDL2Icons';
  src: url('assets/icons/fabric-icons-463d819f.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2Icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.ms-Icon--Contact:before { content: "\E77B"; }
.ms-Icon--ContactCard:before { content: "\EEBD"; }
.ms-Icon--DeveloperTools:before { content: "\EC7A"; }
.ms-Icon--Share:before { content: "\E72D"; }
.ms-Icon--ViewInAR:before { content: "\E41F"; }



figure,img{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: 'Segoe UI', Roboto, sans-serif;
  scroll-behavior: smooth;
  user-select: none;

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+42,000000+42,003f5a+59,017994+85,22b9d4+100 */
background: #000000; /* Old browsers */
background: -moz-linear-gradient(top,  hsl(0,0%,0%) 42%, hsl(0,0%,0%) 42%, hsl(198,100%,18%) 59%, hsl(191,99%,29%) 85%, hsl(189,73%,48%) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  hsl(0,0%,0%) 42%,hsl(0,0%,0%) 42%,hsl(198,100%,18%) 59%,hsl(191,99%,29%) 85%,hsl(189,73%,48%) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  hsl(0,0%,0%) 42%,hsl(0,0%,0%) 42%,hsl(198,100%,18%) 59%,hsl(191,99%,29%) 85%,hsl(189,73%,48%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#22b9d4',GradientType=0 ); /* IE6-9 */

}

.block{
  display: block;
  margin: 0;
  padding: 0;
}

:root{
  /* *************** */
  /* Elements */
  /* *************** */
  --globalTransitionDuration:.2s;

  /* *************** */
  /* COLORS */
  /* *************** */

  --transparencyBG:rgba(255, 255, 255, 0.685);

  --black1:#000;
  --white1:#fff;

  --bodyBG:#eee;
  --bodyColor:#333;

  --coverPage:#5097d4ad;
  --coverPageColor:rgba(238, 238, 238,.9);


  --whymeBG:rgba(105, 197, 151, 0.788);

  --cardsBG:#304238;
  --cardsColor:#eee;

  --cardHeaderBG:#51d4a4;

  --aboutmeBG:rgb(0 79 106);
  --aboutmeColor:rgb(0 65 93);

  --aboutmeAnchorColor:rgb(23 111 193);
  --aboutmeAnchorColorHover:rgb(213 239 244);
  --aboutmeAnchorColorActive:rgb(170, 219, 230);

  /* *************** */
  /* TYPOGRAFY */
  /* *************** */

  --fontTitle1:60px;
  --fontTitle2:50px;
  --fontTitle3:40px;
  --fontTitle4:25px;

  --font-text-content1:30;
  --font-text-content2:25;
  --font-text-content3:20;
  --font-text-content4:16;
}
